/* General Settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.no-select {
    -moz-user-select: none;
    -ms-user-select: none; 
        user-select: none; 
}

/* Table Settings */

table {
    border-collapse: collapse;
    width: 100%;
  }

tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
th {
    top: 0;
    background-color: #ccc;
    text-align: left;
    position: sticky;
    position: -webkit-sticky;
    padding: 2rem;
    font-size: 2rem;
}

td {
    text-align: left;
    padding: 2rem;
    font-size: 2rem;
}

#tableBody {
    max-height: 40rem;
}

tbody {
    max-height: 40rem;
    margin-top: 0;
    padding-top: 0;
}

.paginationTable {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    margin-top: 5rem;
}

#paginationContent {
    text-align: center;
    font-size: 2rem;
}

#previousBtn {
    cursor: pointer;
}

#nextBtn {
    cursor: pointer;
    text-align: right;
}

.search-input {
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    border-width:3px;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
}

.search-input:focus {
    outline: none;
}

/* Content Styling */

.heading {
    font-size: 5rem;
    font-weight: 700;
}

.headingColor {
    color: #ccc;
}

.subHeading {
    font-size: 2.5rem;
    font-weight: 700;
}

.filteredAirportList {
    margin-top: 5rem;
    font-size: 1.6rem;
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
}

/* @media only screen and (max-width: 1000px) {
    .filteredAirportList {
        margin-top: 5rem;
        font-size: 1rem;
        display: grid;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
  } */

.filterWrapper {
    display: grid;
    grid-template-columns: 1fr 5%;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
}

.filters {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 5rem;
}

/* utilities */

.u-margin-top-lg {
    margin-top: 5rem;
}

.u-margin-top-sm {
    margin-top: 2rem;
}

.u-bold {
    font-weight: 700;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
  }
  
  .styled-checkbox:checked + label:before {
    background: #000;
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }